os:
  - linux

language: php

matrix:
  include:
    - php: 5.3
      dist: precise

php:
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"

before_install:
  - composer selfupdate

before_script:
  - composer install

script:
  - ./vendor/phpunit/phpunit/phpunit

notifications:
  emails:
    - tomk79@gmail.com
  on_success: always
  on_failure: always
